* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    justify-content: space-around;
    overflow: hidden;
}

p {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.botonera {
    width: 90%;
    min-height: 100px;
    max-height: 30%;
    height: auto;
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    padding: 20px 5%;
}

button {
    border: 1px solid #f3f3f3;
    padding: 10px 15px;
    text-align: center;
    font-size: medium;
    border-radius: 0px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

button:focus {
    border-width: 3px;
    -webkit-box-shadow: inset -11px -15px 22px -8px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset -11px -15px 22px -8px rgba(0, 0, 0, 0.09);
    box-shadow: inset -11px -15px 22px -8px rgba(0, 0, 0, 0.09);
    background-color: rgba(255, 255, 255, 0.4);
    outline: 0px;
}

button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
}

.toda {
    animation-name: todapantalla;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes todapantalla {
    from {
        border: 0px solid red;
    }
    to {
        width: 99%;
        border: 10px solid red;
    }
}

.espacios {
    animation-name: espaciopantalla;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes espaciopantalla {
    from {
        border-left: 10px solid red;
        border-bottom: 10px solid red;
    }
    to {
        border-left: 0px solid red;
        border-bottom: 0px solid red;
    }
}

@media (max-width: 1600px) {
    body {
        background-color: wheat;
    }
}

@media (max-width: 1024px) {
    body {
        background-color: slategrey;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    body {
        background-color: black;
    }
    p {
        color: white;
    }
}

@media (max-width: 770px) {
    body {
        background-color: chocolate;
    }
}

@media (max-width: 770px) and (orientation: portrait) {
    body {
        background-color: grey;
    }
}

@media (max-width: 770px) and (orientation: landscape) {
    body {
        background-color: darkblue;
    }
    p {
        color: red
    }
}

@media(max-width: 600px) {
    body {
        background-color: turquoise;
    }
}

@media(max-width: 600px) and (orientation: landscape) {
    body {
        background-color: royalblue;
    }
    p {
        color: plum;
    }
}